<footer class="page-footer font-small footer-dark bg-dark pt-4">
  <div class="container-fluid">
    <div class="row d-flex justify-content-around">
      <div class="col-md-2 d-flex justify-content-end">
        <img
          src="/assets/img/Energym_White.png"
          alt="Imagem do user"
          width="100px"
          height="100px"
          class="img-fluid rounded-circle"
        />
      </div>

      <div class="col-md-5 d-flex align-items-center justify-content-center footer-copyright bg-dark text-center py-3">
        <span class="text-light">
          EnerGym &copy; 2021 - Todos os direitos reservados.</span
        >
      </div>

      <div class="col-md-4 d-flex flex-column justify-content-center">
        <h4 class="text-light text-center">Siga-nos nas redes sociais</h4>
        <ul class="social-network d-flex justify-content-center">
          <li>
            <a href="" target="_blank" class="iconLinkedIn">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="" target="_blank" class="icongithub">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="" target="_blank" class="iconFacebook">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
