.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form-1 {
  padding: 10%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  background-color: #14b287;
}
.login-form-1 h3 {
  background-color: transparent;
  text-align: center;
  color: #333;
}
.login-form-2 {
  padding: 5%;
  background: #292e1e;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3 {
  text-align: center;
  color: transparent;
}
.login-container form {
  padding: 10%;
  border-radius: 10px;
}

#btn_cad {
  background-color: transparent;
  font-size: 1rem;
  border-radius: 5px;
  border-color: #d4d4c7;
  box-shadow: 0 0 40px 40p inset;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-radius: 20px;
  font-weight: bold;
  box-sizing: border-box;
}
#btn_cad:hover {
  box-shadow: 0 0 2px 0 #f3efef inset, 0 0 6px 4px #f3efef;
}

#btn_log {
  background-color: #effa00;
  font-size: 1rem;
  border-radius: 5px;
  border-color: #d4d4c7;
  box-shadow: 0 0 40px 40p inset;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-radius: 20px;
  font-weight: bold;
  width: 120px;
  height: 10;
  color: #292e1e;
}

#btn_log:hover {
  box-shadow: 0 0 2px 0 #f3efef inset, 0 0 6px 4px #f3efef;
  background: #effa00;
}

.bordinha {
  box-shadow: 0 0 1em grey;
  border-radius: 10px;
}

.MN {
  font-size: 3rem;
  font-weight: bold;
 }

 .font{
  font-weight: 1000;
 }

 ::placeholder{
   color: #292e1e;
}


 

 

