<div class="container-fluid">
  <div class="row justify-content-center">




    <!--Formulario de cadastro>-->
    <div id="cadastro" >
        <h1>Cadastro</h1>

        <div class="form-group">
            <label for="nome">Nome </label>
            <input [(ngModel)]='user.nome'
            class="form-control "
            type="text"
            name="nome"
            id="nome"
            placeholder="João Mendes"
            />


        </div>

          <div class="form-group">
            <label for="usuario">Usuário </label>
            <input [(ngModel)]='user.email'
              class="form-control"
              type="text"
              name="usuario"
              id="usuario"
              placeholder="João@Mendes.com"
            />
          </div>

          <div class="form-group">
            <label for="foto">Link da Foto </label>
            <input [(ngModel)]='user.foto'
              class="form-control"
              type="text"
              name="foto"
              id="foto"
              placeholder="Link da sua foto"
            />
          </div>

          <div class="form-group">
            <label for="senha">Senha</label>
            <input (input)='confirmSenha($event)'
              class="form-control"
              type="password"
              name="senha"
              id="senha"
              placeholder="****"

              />
          </div>

          <div class="form-group">
            <label for="confirmSenha">Confirmar Senha</label>
            <input [(ngModel)]='user.senha'
              class="form-control"
              type="password"
              name="confirmSenha"
              id="confirmSenha"
              placeholder="****"
            />
          </div>

          <div class="form-group">
            <label for="tipo">Tipo de usuário</label>
            <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
              <option>Selecione um tipo de usuário:</option>
              <option value="normal">Normal</option>
              <option value="admin">Administrador</option>
            </select>
          </div>

          <div class="d-flex justify-content-center">
            <button  class="btn style-cancelar mr-4 " routerLink = '/login'>Cancelar</button>
            <button type="submit" class=" btn style-bt" (click)='cadastrar()'>Cadastrar</button>
          </div>
        </div>

  </div>
