<div class="container-fluid bg-principal">
    <h1 class="p-3 text-center font-weight-bolder text-light">
      Perguntas Frequentes
    </h1>
    <h3 class="p-3 text-center font-weight-bolder text-light">
      Dúvidas comuns sobre nossa Rede Social!
    </h3>
    <!-- FORM -->
    <div class="col-md-12 p-10 bg-secundario">
      <div class="row d-flex justify-content-center">
        <details class="col-md-4 text-dark bordinha-form">
          <summary>
            Quanta energia em comparação a eletrodomésticos do dia-a-dia eu
            consigo economizar na academia para postar aqui na rede social?
          </summary>
          <ul>
            <li>
              Bom, para usarmos como comparação uma lâmpada de 60W que fica acesa
              5 horas por dia gasta cerca de 9 kWh no mês, enquanto isso, uma
              geladeira de 310 litros gasta por volta de 28 kWh por mês, um
              chuveiro de 5.500W, uma pessoa que toma um banho de 10 minutos por
              dia vai ter usado ele 5 horas no mês, que são 27,5 kWh na conta de
              luz, já um celular gasta 0,378 kWh por mês sendo carregado, todos os
              dias.
            </li>
          </ul>
        </details>
        <details class="col-md-4 text-dark bordinha-form">
          <summary>Como surgiu a ideia da rede social?</summary>
          <ul>
            <li>
              A idéia surgiu, quando um de nós leu um artigo sobre uma bicicleta que convertia energia humana em energia elétrica, posteriormente, descobrimos que algumas academias já possuem e utilizam este mesmo sistema, com isso pensamos e criamos uma rede social na qual os usuários poderiam treinar e postar as atualizações dos seus treinos em tempo (minutos) e receber no post o valor de economia gerada em kWh.
            </li>
          </ul>
        </details>
        <details class="col-md-4 text-dark bordinha-form">
          <summary>A EnerGym trabalha para a academia?</summary>
          <ul>
            <li>
              Não, a EnerGym é apenas a rede social que posta atualizações para os
              usuários destas academias.
            </li>
          </ul>
        </details>
        <details class="col-md-4 text-dark bordinha-form">
          <summary>Como usar esse sistema na minha academia?</summary>
          <ul>
            <li>
              As academias como "Sacramento Eco Fitness" (Sacramento, California)
              e "Eco Gym" (Rochester, Nova York), utilizam do sistema de
              equipamentos eco-friendly Eco-Powr que é fabricado pela empresa
              SportsArt. Nestes equipamentos, são utilizados micro-inversores
              instalados nos aparelhos similares aos que atendem a demanda de
              painéis solares. Segundo a SportsArt, uma simples pedalada pode
              gerar 160 watts de potência por aparelho. Procure por equiepamentos
              como este e sua academia já poderá utilizar do mesmo sistema, e
              inclusive os seus usuários poderam utilizar a rede social da
              EnerGym.
            </li>
          </ul>
        </details>
      </div>
    </div>
    <div class="d-flex justify-content-center pt-4">
      <button (click)="inicio()" class="btn btn-light">Voltar ao início</button>
    </div>
  </div>
