<div class="container-fluid bg-principal">
    <h1 class="p-3 text-center font-weight-bolder text-light">Perguntas Frequentes</h1>
    <h3 class="p-3 text-center font-weight-bolder text-light">Dúvidas comuns sobre nossa Rede Social!</h3>
    <!-- FORM -->
    <div class="col-md-12 p-10 bg-secundario">
        <div class="row d-flex justify-content-center">
            <details class="col-md-4 text-dark bordinha-form">
                <summary>Como usar esse sistema na minha academia?</summary>
                <ul> 
                    <li>resposta</li>
                </ul>  
            </details>
            <details class="col-md-4 text-dark bordinha-form">
                <summary>Como usar esse sistema na minha academia?</summary>
                <ul> 
                    <li>resposta</li>
                </ul>  
            </details>
            <details class="col-md-4 text-dark bordinha-form">
                <summary>Como usar esse sistema na minha academia?</summary>
                <ul> 
                    <li>resposta</li>
                </ul>  
            </details>
            <details class="col-md-4 text-dark bordinha-form">
                <summary>Como usar esse sistema na minha academia?</summary>
                <ul> 
                    <li>resposta</li>
                </ul>  
            </details>
        </div>
    </div>  
</div>