<div class="bg-fundo">
  <div class="w-90 bg-warning">
    <h1 class="p-3 text-center font-weight-bolder text-light">Sobre nós</h1>
  </div>
  <div class="w-90">
    <p class="h3 text-center py-3 px-5 text-light">
      Energym é uma rede social para academias ecológicas que geram energia
      elétrica por meio de seus equipamentos através do uso dos clientes da
      rede.
    </p>
  </div>
  <div class="bg-dark w-100 py-1">
    <p>&nbsp;</p>
  </div>

  <div class="container text-light">
    <div class="row">
      <div class="col-md-12">
        <h1 class="p-3 text-center font-weight-bolder">Proposta</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="h3 py-3 px-5">
          Enquanto as academias ficam resposáveis pela gestão e distribuição da
          energia para populações mais carentes.
        </p>
        <p class="h3 px-5">
          A plataforma tem como intuito divulgar atualizações de clientes,
          através de postagens, onde que o cliente faz uma publicação e a
          plataforma informa o quanto de energia foi gerado.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <img src="https://i.imgur.com/PT2pEUV.png" alt="" width="40%" />
      </div>
    </div>
  </div>

  <div class="mt-5 bg-dark w-100 py-1">
    <p>&nbsp;</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="p-3 text-center font-weight-bolder text-light">Dados</h1>
      </div>
    </div>
    <div class="row text-light d-flex justify-content-center mb-4">
      <div class="col-md-8 h3 text-center">
        Segundo a Proposta de Emenda à Constituição (PEC), o acesso à energia
        elétrica é um direito social.
      </div>
    </div>
    <div class="row text-light d-flex justify-content-around">
      <div class="col-md-4 h5 mb-2">
        De acordo com o Instituto de Energia e Meio Ambiente, mais de 2 milhões
        de brasileiros vivem sem acesso à energia elétrica.
      </div>
      <div class="col-md-4 h5 mb-2">
        Estudos da Agência Internacional de Energia (IEA) apontam que 660
        milhões de pessoas não terão acesso à energia elétrica em 2030.
      </div>
    </div>
  </div>

  <div class="mt-5 bg-dark w-100 py-1">
    <p>&nbsp;</p>
  </div>

  <div class="row w-100">
    <div class="col-md-12">
      <h1 class="p-3 text-center font-weight-bolder text-light">Integrantes</h1>
    </div>
  </div>

  <div class="px-5 row d-flex w-100 justify-content-center">
    <div
      class="
        p-2
        col-md-3
        justify-content-center
        border border-5 border-dark
        rounded
        bg-secondary
        d-flex
        align-items-center
        flex-column
        mr-5
        mb-2
      "
    >
      <a
        target="_blanck"
        href="https://www.linkedin.com/in/matheus-monteiro-41b54a181/"
        ><img
          class="py-3 rounded-circle"
          src="https://github.com/MatheusMMonteiro.png"
          alt=""
          width="150px"
      /></a>
      <p class="text-center m-0 font-weight-bold">Matheus Monteiro</p>
      <p class="text-center m-0">Desenvolvedor FullStack Java Júnior</p>

      <div class="d-flex justify-content-end mt-1">
        <a
          class="mr-3"
          href="https://github.com/MatheusMMonteiro"
          target="_blanck"
          ><i class="fa fa-github text-dark h5"></i
        ></a>
        <a
          target="_blanck"
          href="https://www.linkedin.com/in/matheus-monteiro-41b54a181/"
          ><i class="fa fa-linkedin text-dark h5"></i
        ></a>
      </div>
    </div>
    <div
      class="
        p-2
        col-md-3
        justify-content-center
        border border-5 border-dark
        rounded
        bg-secondary
        d-flex
        align-items-center
        flex-column
        mr-5
        mb-2
      "
    >
      <a
        target="_blanck"
        href="https://www.linkedin.com/in/gabriela-teixeira-mendes/"
        ><img
          class="py-3 rounded-circle"
          src="https://github.com/Gabriela17tx.png"
          alt=""
          width="150px"
      /></a>
      <p class="text-center m-0 font-weight-bold">Gabriela Teixeira</p>
      <p class="text-center m-0">Desenvolvedora FullStack Java Júnior</p>

      <div class="d-flex justify-content-end mt-1">
        <a class="mr-3" href="https://github.com/Gabriela17tx" target="_blanck"
          ><i class="fa fa-github text-dark h5"></i
        ></a>
        <a
          target="_blanck"
          href="https://www.linkedin.com/in/gabriela-teixeira-mendes/"
          ><i class="fa fa-linkedin text-dark h5"></i
        ></a>
      </div>
    </div>
    <div
      class="
        p-2
        col-md-3
        justify-content-center
        border border-5 border-dark
        rounded
        bg-secondary
        d-flex
        align-items-center
        flex-column
        mr-5
        mb-2
      "
    >
      <a
        target="_blanck"
        href="https://www.linkedin.com/in/raniel-mendes-8a17aa71/"
        ><img
          class="py-3 rounded-circle"
          src="https://github.com/ranimendes.png"
          alt=""
          width="150px"
      /></a>
      <p class="text-center m-0 font-weight-bold">Raniel Mendes</p>
      <p class="text-center m-0">Desenvolvedor FullStack Java Júnior</p>

      <div class="d-flex justify-content-end mt-1">
        <a class="mr-3" href="https://github.com/ranimendes" target="_blanck"
          ><i class="fa fa-github text-dark h5"></i
        ></a>
        <a
          target="_blanck"
          href="https://www.linkedin.com/in/raniel-mendes-8a17aa71/"
          ><i class="fa fa-linkedin text-dark h5"></i
        ></a>
      </div>
    </div>
    <div
      class="
        p-2
        col-md-3
        justify-content-center
        border border-5 border-dark
        rounded
        bg-secondary
        d-flex
        align-items-center
        flex-column
        mr-5
        mb-2
      "
    >
      <a
        target="_blanck"
        href="https://www.linkedin.com/in/wendell-franco-arj2509/"
        ><img
          class="py-3 rounded-circle"
          src="https://github.com/Wendell2509.png"
          alt=""
          width="150px"
      /></a>
      <p class="text-center m-0 font-weight-bold">Wendell Franco</p>
      <p class="text-center m-0">Desenvolvedor FullStack Java Júnior</p>

      <div class="d-flex justify-content-end mt-1">
        <a class="mr-3" href="https://github.com/Wendell2509" target="_blanck"
          ><i class="fa fa-github text-dark h5"></i
        ></a>
        <a
          target="_blanck"
          href="https://www.linkedin.com/in/wendell-franco-arj2509/"
          ><i class="fa fa-linkedin text-dark h5"></i
        ></a>
      </div>
    </div>
    <div
      class="
        p-2
        col-md-3
        justify-content-center
        border border-5 border-dark
        rounded
        bg-secondary
        d-flex
        align-items-center
        flex-column
        mr-5
        mb-2
      "
    >
      <a
        target="_blanck"
        href="https://www.linkedin.com/in/vitor-freitas-b82847197/"
        ><img
          class="py-3 rounded-circle"
          src="https://github.com/vitorvnc.png"
          alt=""
          width="150px"
      /></a>
      <p class="text-center m-0 font-weight-bold">Vitor Freitas</p>
      <p class="text-center m-0">Desenvolvedor FullStack Java Júnior</p>

      <div class="d-flex justify-content-end mt-1">
        <a class="mr-3" href="https://github.com/vitorvnc" target="_blanck"
          ><i class="fa fa-github text-dark h5"></i
        ></a>
        <a
          target="_blanck"
          href="https://www.linkedin.com/in/vitor-freitas-b82847197/"
          ><i class="fa fa-linkedin text-dark h5"></i
        ></a>
      </div>
    </div>
    <div
      class="
        p-2
        col-md-3
        justify-content-center
        border border-5 border-dark
        rounded
        bg-secondary
        d-flex
        align-items-center
        flex-column
        mr-5
        mb-2
      "
    >
      <a
        target="_blanck"
        href="https://www.linkedin.com/in/rafaela-oliveira-18598321b/"
        ><img
          class="py-3 rounded-circle"
          src="https://github.com/elaoliveira.png"
          alt=""
          width="150px"
      /></a>
      <p class="text-center m-0 font-weight-bold">Rafaela Oliveira</p>
      <p class="text-center m-0">Desenvolvedora FullStack Java Júnior</p>

      <div class="d-flex justify-content-end mt-1">
        <a class="mr-3" href="https://github.com/elaoliveira" target="_blanck"
          ><i class="fa fa-github text-dark h5"></i
        ></a>
        <a
          target="_blanck"
          href="https://www.linkedin.com/in/rafaela-oliveira-18598321b/"
          ><i class="fa fa-linkedin text-dark h5"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center pt-4">
    <button (click)="inicio()" class="btn btn-dark">Voltar ao início</button>
  </div>
  
  <div class="mt-5 bg-dark w-100 py-1">
    <p>&nbsp;</p>
  </div>
</div>
