<h1 class="p-3 text-center">Lorem ipsum dolor sit amet.</h1>

<div class="container align-items mb-5 mt-5">
<h2>Lorem, ipsum dolor.</h2>

<img src="https://image.freepik.com/fotos-gratis/foto-ao-ar-livre-de-homem-ativo-de-pele-escura-correndo-pela-manha-tem-treinos-regulares-vestido-com-agasalho-e-tenis-confortaveis-concentrado-na-distancia-ve-o-final-a-distancia_273609-29401.jpg" alt="Pessoa se exercitando.">

<h2 class="text-right">Lorem ipsum dolor sit amet.</h2>
<img class="rounded float-right" src="https://image.freepik.com/fotos-gratis/jovem-mulher-africana-correndo-isolado-no-fundo-branco-do-estudio-uma-corredora-ou-atleta-feminina-silhueta-de-atleta-de-corrida_155003-34511.jpg" alt="Atleta africanda correndo.">

<h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit unde porro soluta ipsa minima, itaque consequatur atque, velit similique nobis ratione culpa expedita perferendis fugiat magni! Quis dolore in iure? Exercitationem possimus distinctio cupiditate unde!</h5>
<br>
<h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, aut exercitationem quidem atque quibusdam maiores voluptatem esse similique id sed, odio commodi mollitia dignissimos consequatur?</h5>
</div>
