<div class="bg-fundo">
    <div class="w-90 bg-warning">
    <h1 class="p-3 text-center font-weight-bolder text-light">Sobre nós</h1>
    </div>
    <div class="w-90">
    <p class="h2 text-center py-3 px-5 text-light">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
    </p>
    </div>
    <div class="bg-light w-100 py-1">
    <p>&nbsp;</p>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-md-12">
        <h1 class="p-3 text-center font-weight-bolder text-light">Dados</h1>
        </div>
    </div>
    <div class="row text-light">
        <div class="col-md-4 h3 mb-2">
        It is a long established fact that a reader will be distracted
        </div>
        <div class="col-md-4 h3 mb-2">
        It is a long established fact that a reader will be distracted
        </div>
        <div class="col-md-4 h3">
        It is a long established fact that a reader will be distracted
        </div>
    </div>
    </div>
    <div class="mt-5 bg-light w-100 py-1">
    <p>&nbsp;</p>
    </div>

    <div class="container text-light">
    <div class="row">
        <div class="col-md-12">
        <h1 class="p-3 text-center font-weight-bolder">Proposta/Alcance</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <p class="h2 text-center py-3 px-5">
            It is a long established fact that a reader will be distracted by the
            readable content of a page when looking at its layout.
        </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
        <img src="https://i.imgur.com/PT2pEUV.png" alt="" width="40%" />
        </div>
    </div>
    </div>

    <div class="mt-5 bg-light w-100 py-1">
    <p>&nbsp;</p>
    </div>

    <div class="row w-100">
    <div class="col-md-12">
        <h1 class="p-3 text-center font-weight-bolder text-light">Integrantes</h1>
    </div>
    </div>

    <div class="px-5 row d-flex w-100 justify-content-center">
        <div class="p-2 col-md-3  justify-content-center border border-5 border-dark rounded bg-secondary d-flex align-items-center flex-column mr-5 mb-2">
            <img class="py-3 rounded-circle" src="https://github.com/MatheusMMonteiro.png" alt="" width="150px" />
            <p class="text-center m-0 font-weight-bold">Matheus Monteiro</p>
            <p class="text-center m-0">Desenvolvedor FullStack Java Júnior</p>
            
            <div class="d-flex justify-content-end mt-1">
                <a class="mr-3" href="https://github.com/MatheusMMonteiro" target="_blanck"><i class="fa fa-github text-dark h5"></i></a>
                <a target="_blanck" href="https://www.linkedin.com/in/matheus-monteiro-41b54a181/"><i class="fa fa-linkedin text-dark h5" ></i></a>
            </div>
        </div>
        <div class="p-2 col-md-3  justify-content-center border border-5 border-dark rounded bg-secondary d-flex align-items-center flex-column mr-5 mb-2">
            <img class="py-3 rounded-circle" src="https://github.com/Gabriela17tx.png" alt="" width="150px" />
            <p class="text-center m-0 font-weight-bold">Gabriela Teixeira</p>
            <p class="text-center m-0">Desenvolvedora FullStack Java Júnior</p>
            
            <div class="d-flex justify-content-end mt-1">
                <a class="mr-3" href="https://github.com/Gabriela17tx" target="_blanck"><i class="fa fa-github text-dark h5"></i></a>
                <a target="_blanck" href="https://www.linkedin.com/in/gabriela-teixeira-mendes/"><i class="fa fa-linkedin text-dark h5" ></i></a>
            </div>
        </div>
        <div class="p-2 col-md-3  justify-content-center border border-5 border-dark rounded bg-secondary d-flex align-items-center flex-column mr-5 mb-2">
            <img class="py-3 rounded-circle" src="https://github.com/ranimendes.png" alt="" width="150px" />
            <p class="text-center m-0 font-weight-bold">Raniel Mendes</p>
            <p class="text-center m-0">Desenvolvedor FullStack Java Júnior</p>
            
            <div class="d-flex justify-content-end mt-1">
                <a class="mr-3" href="https://github.com/ranimendes" target="_blanck"><i class="fa fa-github text-dark h5"></i></a>
                <a target="_blanck" href="https://www.linkedin.com/in/raniel-mendes-8a17aa71/"><i class="fa fa-linkedin text-dark h5" ></i></a>
            </div>
        </div>
        <div class="p-2 col-md-3  justify-content-center border border-5 border-dark rounded bg-secondary d-flex align-items-center flex-column mr-5 mb-2">
            <img class="py-3 rounded-circle" src="https://github.com/Wendell2509.png" alt="" width="150px" />
            <p class="text-center m-0 font-weight-bold">Wendell Franco</p>
            <p class="text-center m-0">Desenvolvedor FullStack Java Júnior</p>
            
            <div class="d-flex justify-content-end mt-1">
                <a class="mr-3" href="https://github.com/Wendell2509" target="_blanck"><i class="fa fa-github text-dark h5"></i></a>
                <a target="_blanck" href="https://www.linkedin.com/in/wendell-franco-arj2509/"><i class="fa fa-linkedin text-dark h5" ></i></a>
            </div>
        </div>
        <div class="p-2 col-md-3  justify-content-center border border-5 border-dark rounded bg-secondary d-flex align-items-center flex-column mr-5 mb-2">
            <img class="py-3 rounded-circle" src="https://github.com/vitorvnc.png" alt="" width="150px" />
            <p class="text-center m-0 font-weight-bold">Vitor Freitas</p>
            <p class="text-center m-0">Desenvolvedor FullStack Java Júnior</p>
            
            <div class="d-flex justify-content-end mt-1">
                <a class="mr-3" href="https://github.com/vitorvnc" target="_blanck"><i class="fa fa-github text-dark h5"></i></a>
                <a target="_blanck" href="https://www.linkedin.com/in/vitor-freitas-b82847197/"><i class="fa fa-linkedin text-dark h5" ></i></a>
            </div>
        </div>
        <div class="p-2 col-md-3  justify-content-center border border-5 border-dark rounded bg-secondary d-flex align-items-center flex-column mr-5 mb-2">
            <img class="py-3 rounded-circle" src="https://github.com/elaoliveira.png" alt="" width="150px" />
            <p class="text-center m-0 font-weight-bold">Rafaela Oliveira </p>
            <p class="text-center m-0">Desenvolvedora FullStack Java Júnior</p>
            
            <div class="d-flex justify-content-end mt-1">
                <a class="mr-3" href="https://github.com/elaoliveira" target="_blanck"><i class="fa fa-github text-dark h5"></i></a>
                <a target="_blanck" href="https://www.linkedin.com/in/rafaela-oliveira-18598321b/"><i class="fa fa-linkedin text-dark h5" ></i></a>
            </div>
        </div>
        
    </div>
    <p></p>

    <div class="mt-5 bg-light w-100 py-1">
    <p>&nbsp;</p>
    </div>
</div>